<!-- FOOTER -->
<div id="footer">
    <div class="container">
        <div class="row centered">
            <div class="col-md-8 col-md-offset-2 col-sm-12 centered">
                <div class="text icons glow">
                    <a href="<%= data.links.windowsphone.url %>" title="<%= data.links.windowsphone.name %>" target="_blank"><i class="icon ion-social-windows">&nbsp;&nbsp;</i></a>
                    <a href="<%= data.links.ios.url %>" title="<%= data.links.ios.name %>" target="_blank"><i class="icon ion-social-apple">&nbsp;&nbsp;</i></a>
                    <a href="<%= data.links.android.url %>" title="<%= data.links.android.name %>" target="_blank"><i class="icon ion-social-android">&nbsp;&nbsp;</i></a>
                    <a href="<%= data.links.twitter.url %>" title="<%= data.links.twitter.name %>"><i class="icon ion-social-twitter">&nbsp;&nbsp;</i></a>
                </div>
                <div class="text">&#169; 2015 <a class="glow" href="<%= data.links.madwebsite.url %>" title="<%= data.links.madwebsite.name %>">MAD at The University of Texas at Austin</a></div>
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER -->
